.nav{
  padding-left: 3vw;
  padding-right: 3vw;
  margin: auto;
  max-width: 1200px;
  font-family: 'Fira Code', monospace;

  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  top: 0;


}
.nav_links{
  flex-shrink: 0;
  display: flex;
  // gap: 10%;
  flex: 1 0 auto;
  justify-content: flex-end;
  list-style: none;
  padding-left: 0;
  gap:1%
}

.flex_child {
  // white-space: nowrap;
  flex-shrink: 0;
  // overflow: hidden;
  // text-overflow: ellipsis;
}
ul.nav_links > a{
  transition: all 500ms;
  padding: 2%;
  // margin: 0px 2% ;


}

ul.nav_links > a:hover{
  // font-size: 20px;
  text-decoration: underline;
  background-color: black;
  // padding: 10px;
  color: white;
  transform: translateY(-2%);
}