.bg_img{
    background-color: white;
    max-height: 200px;
    height: 30vh;
    img{
        width: 100%;
    height: 100%;
        object-fit: cover;

    }
}

.proyecto{
    color: white;
}

.container{
  max-width: 1200px;
  margin: auto;
  padding-left: 3vw;
  padding-right: 3vw;
}
#content{
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    color: black;
    ul{
        list-style: none;
        padding-left: 0;
    }
}